header {
    position: fixed;
    width: 100vw;
    top: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho {
    background-color: var(--cor-terciaria);
    padding: 0 20px;
}

.cabecalho_imagem {
    max-width: 4.4rem;
    margin-right: 1.3rem;
}

.cabecalho_informacoes {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);

}

.cabecalho_menu {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    text-align: center;
}

.cabecalho_menu_imagem {
    font-size: 6px;
    margin: 3px 0;
    color: var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    padding: 0 1.3rem;
    border-radius: 1.4rem;
}

.cabecalho_menu_checkbox{
    display: none;
}

#expand {
    display: none;
    position: fixed;
    top: 9%;
    width: 15vw;
}

.cabecalho_menu_checkbox:checked ~ #expand{
    display: block;
}

.nav_links{
    background-color: var(--cor-hover);
    font-family: var(--fonte-principal);
    font-size: 1.3rem;
    display: block;
    color: var(--cor-fonte-secundaria);
    padding: 1rem;
    text-align:left;
    border: solid 1px;
    border-radius: 4px;
    border-color: var(--cor-terciaria);
}

.nav_links:hover {
    text-decoration: underline;
    background-color: #daddc1;
    transition: .7s;
}
